@page "/"

<h1>Sistema de Facturación</h1>

<div class="alert alert-primary" role="alert">
    Bienvenida/o a nuestra aplicación web!
</div>

<center><img src="https://www.turx.co/wp-content/uploads/2019/08/Material-Video-TuRx-1918-1024x670.png" width="530" height="300" /></center>



