@page "/productos"

<h1>Productos</h1>

<p></p>

<NavLink class="nav-link" href="FormularioProducto">
    <button class="btn btn-success"><span class="oi oi-plus" aria-hidden="true"></span> Agregar </button>
</NavLink>


<hr class="sidebar-divider">

<table class="table">
    <thead class="table-dark text-center">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mesa</td>
            <td>Mesa familiar con cuatro sillas</td>
            <td>Caoba</td>
            <td>25,000</td>
            <td>07/08/2021</td>
            <td>01</td>
            <td>
                <button class="btn btn-warning"><span class="oi oi-pencil" aria-hidden="true"></span></button>
                <button class="btn btn-danger"><span class="oi oi-trash" aria-hidden="true"></span></button>
            </td>
        </tr>
    </tbody>
</table>
